<p-toast />
<section class="container">
    <div class="max-w-xl mx-auto">
        <p-panel header="Detail Employee">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-6">
                <div class="flex flex-col gap-2">
                    <label for="username">Username*</label>
                    <input pInputText id="username" aria-describedby="username-help" formControlName="username" />
                    <span class="error-message" *ngIf="hasError('username', 'required')">Username is required</span>
                </div>
                <div class="flex flex-col gap-2">
                    <label for="username">Fist Name</label>
                    <input pInputText id="firstName" aria-describedby="firstName" formControlName="firstName" />
                </div>
                <div class="flex flex-col gap-2">
                    <label for="lastName">Last Name</label>
                    <input pInputText id="lastName" aria-describedby="lastName-help" formControlName="lastName" />
                </div>
                <div class="flex flex-col gap-2">
                    <label for="email">Email</label>
                    <input pInputText id="email" aria-describedby="email-help" formControlName="email" />
                </div>
                <div class="flex flex-col gap-2">
                    <label for="birthDate">Birth Date</label>
                    <p-calendar styleClass="w-full" [showIcon]="true" [maxDate]="maxDate" id="birthDate" formControlName="birthDate" />
                </div>

                <div class="flex flex-col gap-2">
                    <label for="basicSalary">Basic Salary</label>
                    <p-inputNumber 
    id="basicSalary"
    styleClass="w-full"
    formControlName="basicSalary" 
    inputId="currency-us" 
    mode="currency" 
    currency="IDR" 
    locale="id-ID" /> 
                    <!-- <input pInputText id="basicSalary" aria-describedby="email-help" formControlName="basicSalary" /> -->
                </div>

                <div class="flex flex-col gap-2">
                    <label for="group">Group</label>
                    <input pInputText id="group" aria-describedby="email-help" formControlName="group" />
                </div>


                <div class="flex flex-col gap-2">
                    <label for="description">Description</label>
                    <input pInputText id="description" aria-describedby="email-help" formControlName="description" />
                </div>
                
                


                <div class="flex flex-col gap-2">
                    <label for="status">Status</label>
                    <p-dropdown 
        formControlName="selectedCity" 
        [options]="listStatus"
        optionLabel="name"
        placeholder="Select a City" />
                </div>






                <div class="flex flex-row gap-4 justify-end">
                    <p-button type="submit" label="Save" [disabled]="!form.valid" severity="primary"></p-button>
                    <p-button type="button" label="Cancel" severity="danger"></p-button>
                </div>
            </form>
        </p-panel>
    </div>
</section>