<section class="h-screen flex flex-row items-center min-h-[600px]">
    <div class="container">
        <div class="max-w-lg mx-auto">
            <p-card styleClass="p-6">
                <div class="rounded-full mx-auto mb-8  h-[200px] border border-gray-600 p-10 w-[200px] flex justify-center items-center">
                    <img width="100" class="w-[120px] h-fit" height="100" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Apple_logo_grey.svg" alt="">
                </div>
                <h2 class="text-2xl font-semibold mb-8 text-center">Please login to your account</h2>
                <form (ngSubmit)="onSubmit()" [formGroup]="formLogin">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input pInputText id="username" aria-describedby="username-help" formControlName="username"
                            placeholder="Enter your username" />
                        <div
                            *ngIf="formLogin.get('username')?.invalid && (formLogin.get('username')?.dirty || formLogin.get('username')?.touched)">
                            <div *ngIf="formLogin.get('username')?.errors?.['required']">
                                <p-messages severity="error">
                                    <ng-template pTemplate class="py-0">
                                        <i class="pi pi-times-circle"></i>
                                        <div class="ml-2">username is required</div>
                                    </ng-template>
                                </p-messages>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <p-password 
                        [weakLabel]="'Weak'" 
                        [mediumLabel]="'Medium'" 
                        [strongLabel]="'Strong'"
                            type="password" 
                            [minlength]="4" 
                            promptLabel="Enter your password" 
                            styleClass="w-full"
                            inputStyleClass="w-full" 
                            id="password" 
                            formControlName="password"
                            placeholder="Enter your password" 
                            [feedback]="false"></p-password>
                        <div
                            *ngIf="formLogin.get('password')?.invalid && (formLogin.get('password')?.dirty || formLogin.get('password')?.touched)">
                            <div *ngIf="formLogin.get('password')?.errors?.['required']">
                                <p-messages severity="error">
                                    <ng-template pTemplate class="py-0">
                                        <i class="pi pi-times-circle"></i>
                                        <div class="ml-2">password is required</div>
                                    </ng-template>
                                </p-messages>
                            </div>
                        </div>
                    </div>
                    <div class="mb-6 flex justify-between">
                        <div class="flex gap-3">
                            <p-checkbox formControlName="rememberMe" binary="true"></p-checkbox>
                            Remember me 
                        </div>
                        <a href="#" class="text-right text-blue-500 no-underline">Forgot password?</a>
                    </div>
                    
                    <p-button styleClass="w-full" type="submit" label="Sign In"></p-button>
                </form>
            </p-card>
        </div>
    </div>
</section>